@using Fuddi.Models;
@{
  ViewBag.Title = "Type List";
  Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@model IList<OD_ValueType>

@section assets{
  <link rel="stylesheet" href="/assets/css/cms/value.css">
<script src="/assets/js/controllers/cms/value/type-list-controller.js"></script>
}
<h2 class="page-title">Value Type</h2>

<div class="condition-container form-inline">
  <button id="btn-refresh" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;Refresh</button>&nbsp;&nbsp;
  <a id="quick-add-btn" href="javascript:;" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Add</a>
  <div class="condition-container hidden">
    <label>名称：</label><input type="text" id="name" class="form-control name-ctrl" />&nbsp;&nbsp;
    <label>价值：</label><input type="text" id="_value" class="form-control value-ctrl" />&nbsp;&nbsp;
    <a class="edit-confirm" data-id="0" href="javascript:;" title="confirm"><i class="glyphicon glyphicon-ok text-success"></i></a>&nbsp;&nbsp;
    <a class="edit-cancel" href="javascript:;" title="cancel"><i class="glyphicon glyphicon-remove text-danger"></i></a>
  </div>
</div>

<table class="table table-striped form-inline value-list-tbl">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr class="data-row">
        <td>@(item.ID)</td>
        <td class="edit-td">
          <span class="value-elm">@(item.Name)</span>
          <input type="text" id="name-@(item.ID)" class="form-control edit-elm name-ctrl" value="@(item.Name)" />&nbsp;&nbsp;
        </td>
        <td class="edit-td">
          <span class="value-elm">@(item.Value)</span>
          <input type="text" id="value-@(item.ID)" class="form-control edit-elm value-ctrl" value="@(item.Value)" />&nbsp;&nbsp;
        </td>
        <td class="op-td">
          <a class="edit-confirm v-edit-confirm edit-elm" href="javascript:;" data-id="@(item.ID)" title="confirm"><i class="glyphicon glyphicon-ok text-success"></i></a>&nbsp;&nbsp;
          <a class="edit-cancel-dr v-edit-cancel edit-elm" href="javascript:;" title="cancel"><i class="glyphicon glyphicon-remove text-danger"></i></a>
          <a href="javascript:;" class="edit-dr" title="edit"><i class="glyphicon glyphicon-edit"></i></a>&nbsp;&nbsp;
          <a href="javascript:;" class="relation-edit text-warning" title="relation"><i class="glyphicon glyphicon-list-alt"></i></a>&nbsp;&nbsp;
          <a class="remove-btn text-danger" data-id="@(item.ID)" href="javascript:;" title="delete"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
      </tr>
      <tr id="relation-row-@(item.ID)" class="hidden">
        <td colspan="4"></td>
      </tr>
    }
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="relation-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="slt-product-container">

</div>
