@using Fuddi.Models;
@using PagedList;
@using PagedList.Mvc
@{
  ViewBag.Title = "Category List";
  Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@model StaticPagedList<OD_Category>

@section assets{
  <script src="/assets/js/controllers/cms/category/category-list-controller.js"></script>
}
<h2 class="page-title">Category List</h2>

<div class="condition-container form-inline">
  <input type="text" id="name" name="name" value="@(TempData["name"])" class="form-control" />&nbsp;&nbsp;
  <a href="javascript:;" class="search-btn"><i class="glyphicon glyphicon-search"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button id="btn-refresh" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;Refresh</button>&nbsp;&nbsp;
  <a href="/_cms/category/categoryedit?act=@((int)Fuddi.Enum.ActionEnum.Add)&id=0&redirect=@(ViewData[Fuddi.Configuration.SettingsCfg.Instance.URL_ENCODE_CURRENT_QUERY_AND_PATH_VIEWDATA_KEY])" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Add</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>@(item.ID)</td>
        <td>@(item.Name)</td>
        <td>
          <a href="/_cms/category/categoryedit?act=@((int)Fuddi.Enum.ActionEnum.Edit)&id=@(item.ID)&redirect=@(ViewData[Fuddi.Configuration.SettingsCfg.Instance.URL_ENCODE_CURRENT_QUERY_AND_PATH_VIEWDATA_KEY])"><i class="glyphicon glyphicon-edit"></i></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a class="remove-btn text-danger" data-id="@(item.ID)" href="javascript:;"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
      </tr>
    }
  </tbody>
</table>

<div class="text-center">
  @Html.PagedListPager((IPagedList)Model, page => Url.Action("categorylist", new { pageIndex = page, name = HttpUtility.UrlEncode(TempData["name"].ToString()) }))
</div>