@using Fuddi.Models;
@using Fuddi.SiteUtils;

@{
  ViewBag.Title = "Category Tree";
  Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@section assets{
  <script src="/assets/js/controllers/cms/category/tree-controller.js"></script>
  <link rel="stylesheet" href="/assets/css/cms/category.css">
}

@{
  var ch = CategoryHelper.Instance;
  var group = ch.GetAllCategoryGroup();
}

<div id="tree-container" class="form-inline">
  <ul>

    @foreach (var g in group)
    {
      var list = ch.GetCategoryByGroupID(g.ID);
      var cnt = list.Count;
      bool hasCategory = cnt > 0;
      <li>
        <div class="item-content">
          <a class="category-switcher" href="javascript:;">
            <i class="glyphicon @(hasCategory ? "glyphicon-plus" : "glyphicon-minus")"></i>
          </a>
          <span>@(g.Name)&nbsp;&nbsp;</span>
          <a class="edit g-edit" href="javascript:;"><i class="glyphicon glyphicon-edit"></i></a>
          <div class="edit-container">
            <input type="text" class="form-control" data-id="@(g.ID)" value="@(g.Name)" />&nbsp;&nbsp;
            <a class="edit-confirm g-edit-confirm" href="javascript:;"><i class="glyphicon glyphicon-ok text-success"></i></a>&nbsp;&nbsp;
            <a class="edit-cancel g-edit-cancel" href="javascript:;"><i class="glyphicon glyphicon-remove text-danger"></i></a>
          </div>
        </div>


        @if (hasCategory)
        {
          int index = 0;
          <div class="category-container">
            <ul>
              @foreach (var r in list)
              {
                <li class="category-item">
                  <div><span class="dir-symbol">│</span></div>
                  <div class="item-content">
                    <span class="dir-symbol">├─&nbsp;&nbsp;&nbsp;</span>@(r.CategoryName)
                    <a class="edit c-edit" href="javascript:;"><i class="glyphicon glyphicon-edit"></i></a>
                    <div class="edit-container">
                      <input type="text" class="form-control" data-id="@(r.CategoryID)" value="@(r.CategoryName)" />
                      <a class="edit-confirm c-edit-confirm" href="javascript:;"><i class="glyphicon glyphicon-ok text-success"></i></a>&nbsp;&nbsp;
                      <a class="edit-cancel c-edit-cancel" href="javascript:;"><i class="glyphicon glyphicon-remove text-danger"></i></a>
                    </div>
                  </div>
                </li>
                index++;
              }
              <li class="category-item">
                <div><span class="dir-symbol">│</span></div>
                <div class="item-content">
                  <span class="dir-symbol">└─&nbsp;&nbsp;</span>
                  <a class="edit c-edit btn btn-success" href="javascript:;"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Add</a>
                  <div class="edit-container add-container">
                    <input type="text" class="form-control" data-id="0" value="" />
                    <a class="edit-confirm c-edit-confirm" href="javascript:;"><i class="glyphicon glyphicon-ok text-success"></i></a>&nbsp;&nbsp;
                    <a class="edit-cancel c-edit-cancel" href="javascript:;"><i class="glyphicon glyphicon-remove text-danger"></i></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        }
      </li>
    }
    <li>
      <div class="item-content">
        &nbsp;<a class="edit g-edit btn btn-success" href="javascript:;"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Add</a>
        <div class="edit-container">
          <input type="text" class="form-control" data-id="0" value="" />&nbsp;&nbsp;
          <a class="edit-confirm g-edit-confirm" href="javascript:;"><i class="glyphicon glyphicon-ok text-success"></i></a>&nbsp;&nbsp;
          <a class="edit-cancel g-edit-cancel" href="javascript:;"><i class="glyphicon glyphicon-remove text-danger"></i></a>
        </div>
      </div>
    </li>
  </ul>
  @*<div class="category-tree-item" data-offset-horizontal="@(item.Key)" data-offset-vertical="@(index)">@(c2.Name)</div>*@

</div>